

<!-- Adding Client Side Javascript Files -->
<% if (jsFiles) { %>
    <% if (jsFiles.length !== 0) { %>
        <% for( let i = 0; i < jsFiles.length; i++ ) { %>
            <script src="/js/<%= jsFiles[i] %> "></script>
        <% } %>
    <% } %>
<% } %>

</body>
</html>